
<%= form_for(@film) do |f| %>
  <% if @film.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@film.errors.count, "error") %> prohibited this film from being saved:</h2>

      <ul>
      <% @film.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, class: "control-label" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :director, class: "control-label" %>
    <%= f.text_field :director, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :genre_id, class: "control-label" %>
    <% options = options_from_collection_for_select(@genres, 'id', 'name') %>
    <%= f.select :genre_id,  options, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description, class: "control-label" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
