<% if logged_in? %>
  <p class="navbar-text navbar-right">
    <%= link_to 'Nowy Film', new_film_path, class: "navbar-link" %>
  </p>
<% end %>
<br/>
<%= will_paginate @collection, renderer: BootstrapPagination::Rails %>



<table class="table">
  <thead>
    <tr>
      <th>Tytuł</th>
      <th>Reżyseria</th>
      <th>Gatunek</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @films.each do |film| %>
      <tr>
        <td><%= film.title %></td>
        <td><%= film.director %></td>
        <td><%= film.genre.name %></td>
        <td><%= link_to 'Pokaż', film %></td>
        <% if logged_in? %>
          <td><%= link_to 'Edytuj', edit_film_path(film) %></td>
          <td><%= link_to 'Usuń', film, method: :delete, data: { confirm: 'Jesteś pewny?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @collection, renderer: BootstrapPagination::Rails %>