<% provide(:title, @film.title) %>

<h1>
  <%= @film.title %>
</h1>

<div class="panel panel-default">
  <div class="panel-heading">Reżyseria</div>
  <div class="panel-body">
    <%= @film.director %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Gatunek</div>
  <div class="panel-body">
    <%= @film.genre.name %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Opis</div>
  <div class="panel-body">
    <%= @film.description %>
  </div>
</div>

<%= link_to 'Edytuj', edit_film_path(@film) %> |
<%= link_to 'Wróć', films_path %>
