<header>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Movie Share", root_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form action="<%= search_path %>" class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" name="search" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Szukaj</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Filmy", films_path  %></li>
        <% if logged_in? %>
          <li><%= link_to "Kategorie", genres_path  %></li>
        <% end %>
        <li><%= link_to "O stronie", about_path  %></li>
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Konto<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "Profil", user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "Wyloguj", logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Logowanie", login_path  %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <!-- class="container-fluid navbar navbar-default navbar-fixed-top" div class="container">
    <div id="LOGO" class="navbar-header">
        <%= link_to "Movie Share", root_path, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form action="<%= search_path %>" class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" name="search" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Szukaj</button>
      </form>

      <nav class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Filmy", films_path  %></li>
          <% if logged_in? %>
            <li><%= link_to "Kategorie", genres_path  %></li>
          <% end %>
          <li><%= link_to "O stronie", about_path  %></li>
          
          <% if logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Konto<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Profil", user_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to "Wyloguj", logout_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Logowanie", login_path  %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div-->
</header>